<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="/template/assets/sites/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />

    <!-- FONT LATO -->
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/template/assets/sites/css/style.css" />
    <link rel="shortcut icon" href="/template/assets/sites/img/logo-ipb.png" />
    <title>Beranda</title>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a href="#">
          <img
            src="/template/assets/sites/img/logo.png"
            alt="logo"
            class="logo"
          />
        </a>
        <a class="navbar-brand pl-3" href="#">YUKZAKAT</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-link" href="/template/pages/sites/index.html">
              Beranda
            </a>
            <li class="nav-item dropdown">
              <a
                class="nav-link"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Zakat
                <i class="fa fa-chevron-left"></i>
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a
                  class="dropdown-item"
                  href="/template/pages/sites/kalkulasi-zakat.html"
                  >Kalkulasi Zakat</a
                >
                <a
                  class="dropdown-item"
                  href="/template/pages/sites/bayar-zakat.html"
                  >Pembayaran Zakat</a
                >
              </div>
            </li>
            <a class="nav-link" href="/template/pages/sites/rekening.html"
              >Rekening</a
            >
            <a class="nav-link active" href="/template/pages/sites/profil.html">
              <i class="fas fa-user pr-1"></i>
              Ustad Bajigur
            </a>
            <!-- <a
              class="btn btn-primary tombol-nav"
              href="/pages/sites/register.html"
              >Ustad Bajigur</a
            > -->
          </div>
        </div>
      </div>
    </nav>
    <!-- END OF NAVBAR -->

    <!-- Jumbotron Card -->
    <div class="jumbotron jumbotron-fluid jumbot">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 pt-4">
            <h1 class="py-2">Profil</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <!-- <li class="breadcrumb-item bread-text">
                  <a href="#">Transaksi</a>
                </li> -->
                <li
                  class="breadcrumb-item active bread-text"
                  aria-current="page"
                >
                  Transaksi
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Jumbotron Card -->

    <!-- Konten Profil -->
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-12 mt-3">
          <div class="row justify-content-center">
            <div class="col-4">
              <!-- SIDEBAR STRT -->
              <div class="sidebar">
                <center>
                  <img
                    src="/template/assets/sites/img/default.jpg"
                    class="profile-img"
                    alt="profil"
                  />
                  <h4>Ustad Bajigur</h4>
                </center>
                <a href="/template/pages/sites/profil.html" class="#">
                  <i class="fas fa-user"></i><span>Profil</span>
                </a>
                <a href="/template/pages/sites/transaksi.html" class="active">
                  <i class="fas fa-money-bill"></i><span>Transaksi</span>
                </a>
              </div>
              <!-- END SIDEBAR -->
            </div>
            <div class="col-8">
              <div class="content">
                <div class="transaksi-title">
                  <h1>Transaksi Saya</h1>
                </div>
                <div class="row justify-content-center mt-5">
                  <div class="table-responsive">
                    <table
                      class="table table-hover"
                      id="dataTable"
                      width="100%"
                      cellspacing="0"
                    >
                      <thead>
                        <tr>
                          <th>Detail Transaksi</th>
                          <th>Jenis Pembayaran</th>
                          <th>Tanggal</th>
                          <th>Status Pembayaran</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Detail Transaksi</th>
                          <th>Jenis Pembayaran</th>
                          <th>Tanggal</th>
                          <th>Status Pembayaran</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <tr>
                          <td>Rp. 2.500.000,-</td>
                          <td>Haji Bolot</td>
                          <td>12 Desember 2012</td>
                          <td>
                            <span class="btn btn-danger btn-block"
                              >Belum Selesai</span
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>Rp. 2.500.000,-</td>
                          <td>Haji Bajigur</td>
                          <td>12 Desember 2012</td>
                          <td>
                            <span class="btn btn-success btn-block"
                              >Selesai</span
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END OF Konten Profil -->

    <!-- FOOTER -->
    <footer>
      <!-- Copyright -->
      <div class="footer-copyright footer-all text-center py-3 mt-5">
        <span> © YukZakat 2020 </span>
        <span> <a href="#">Tentang Kami</a> </span>
      </div>

      <!-- Copyright -->
    </footer>
    <!-- END OF FOOTER -->

    <!-- <script src="/assets/sites/js/script.js"></script> -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script src="/template/assets/sites/js/bootstrap.min.js"></script>
  </body>
</html>
