body {
  font-family: Lato;
}

.breadcrumb {
  background-color: #ffffff;
}

.dashboard {
  margin-top: -50px;
  padding-top: 15px;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.card-header {
  border-bottom: transparent;
  background-color: transparent;
  text-transform: uppercase;
}

.body-card-db {
  font-size: 40px;
  font-weight: 700;
  margin-top: -20px;
}

.judul {
  font-weight: 700;
}

.bg-dark {
  background-color: #27ae60 !important;
}

.navbar-brand {
  text-transform: uppercase;
}

.logo {
  margin-left: 10px;
  max-width: 70px;
}

/* Desktop Version */
@media (min-width: 992px) {
  .logo {
    margin-left: 30px;
    max-width: 70px;
  }
}
