body {
  font-family: Lato;
  background-color: #eff0f5;
}
/* Navbar */
.navbar {
  position: relative;
  z-index: 1;
  background-color: #27ae60;
}

.navbar-brand {
  font-family: Lato;
  font-size: 20px;
  color: #000000;
}

.nav-link,
.user {
  padding-left: 100px;
}

.logo {
  max-width: 70px;
}

.bg-nav {
  background-color: #44bf78;
  font-weight: 400;
}

/* Utility */
.tombol-nav {
  text-transform: none;
  border-radius: 10px;
  background-color: #ffffff;
  border: none;
  color: #44bf78;

  width: auto;
  margin-left: -10px;
  /* padding: 0px; */
}

.tombol-nav:hover {
  background-color: #44bf78;
  border: none;
  /* color: #ffffff; */
}

.tombol-nav:active {
  background-color: #1f9b53 !important;
  border: none;
  color: #ffffff;
}

.tombol-nav:focus {
  background-color: #1f9b53 !important;
  border: none;
  color: #ffffff;
}

.tombol {
  background-color: #44bf78;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
}

.tombol:hover {
  background-color: #27ae60;
  border: none;
  color: #ffffff;
}

.tombol:active {
  background-color: #1f9b53 !important;
  border: none;
  color: #ffffff;
}

.tombol:focus {
  background-color: #1f9b53 !important;
  border: none;
  color: #ffffff;
}
/* END OF UTILITY */

.jumbotron {
  background-image: url(/assets/sites/img/bg.png);
  background-size: cover;
  height: 650px;
  position: relative;
  margin-bottom: 0px;
  background-attachment: fixed;
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); */
}

.jumbot {
  background-image: url(/assets/sites/img/bg.png);
  background-size: cover;
  height: 480px;
  position: relative;
  margin-bottom: 0px;
  background-attachment: fixed;
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); */
}

.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(31, 155, 83, 0.3),
    rgba(31, 155, 83, 0.3)
  );
  position: absolute;
  bottom: 0;
}

.jumbotron .container {
  /* text-align: center; */
  margin-top: 110px;
  position: relative;
  z-index: 1;
}

.jumbotron h2 {
  font-size: 20px;
  font-weight: 700;
}

.jumbotron h1,
.jumbotron p {
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.subtext {
  padding-top: 15px;
  font-size: 14px;
  color: #b3b3b3;
  font-weight: 300;
}

.subtext b {
  font-size: 14px;
  color: #000000;
  font-weight: 500;
}

.subtext a {
  color: #000000;
  font-weight: 700;
}

.jumbotron h3 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #b3b3b3;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-size: 16px;
  color: #b3b3b3;
}

.jumbotron h3 span {
  background: #fff;
  padding: 0 10px;
}

/* FOOTER */
.footer-copyright {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: #27ae60;
  margin-top: -32px;
  font-size: 12px;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.footer-all {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: #27ae60;
  margin-top: 100px !important;
  font-size: 12px;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.footer-copyright a {
  color: #ffffff;
}

.info-panel {
  background-color: #ffffff;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 30px 0;
  /* padding-left: 40px; */
  margin-top: 50px;
}

.info-panel img {
  width: 150px;
}

.info-panel p {
  text-align: center;
  padding: 0 40px;
  padding-top: 30px !important;
  font-size: 14px;
}

.info-rekening h2 {
  padding: 0 40px;
  text-align: center;
}

.breadcrumb {
  background-color: transparent;
  justify-content: center;
}

.breadcrumb li,
a {
  /* color: #ffffff !important; */
  text-transform: uppercase;

  font-weight: 500;
}

.jumbotron .breadcrumb .bread-text a {
  color: #ffffff !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.breadcrumb .bread-text {
  color: #ffffff !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">" !important;
  color: #ffffff;
}

.container .kalkulasi .card {
  margin-top: 50px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.container .kalkulasi .card .card-title {
  font-size: 24px;
  font-weight: 700;
  padding-top: 10px;
}

.container .kalkulasi .card .card-title-2 {
  font-size: 24px;
  font-weight: 700;
  padding-top: 10px;
  text-align: left;
}

.input-title {
  text-align: left;
  padding-bottom: 5px;
  font-weight: 600;
}

.subtitle {
  text-align: left;
  font-size: 12px;
  padding-left: 50px;
  opacity: 50%;
  margin-top: -5px;
}

.social-btn .btn {
  padding: 1px;
  display: flex;
  flex-direction: column;
}

.form-check {
  text-align: left;
  margin-top: -5px;
  vertical-align: middle;
}

.card-pembayaran {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 5px;
}

.card-pembayaran .form-check-label img {
  height: 50px;
}

/* PROFIL */
.sidebar {
  background: #ffffff;
  padding-top: 30px;
  width: 90%;
  height: 690px;
  border-radius: 15px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
}

.sidebar .profile-img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar h4 {
  color: #000000;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a {
  color: #000000;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
  border-bottom: 1px solid rgba(56, 56, 56, 0.1);
}

.sidebar a:hover {
  background: #f5f5f5;
}

.sidebar .active {
  background: #f5f5f5;
}

.sidebar i {
  padding-right: 10px;
}

.content {
  background: #ffffff;
  padding: 50px 50px;
  width: 100%;
  height: 690px;
  border-radius: 15px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
}

.profil-title h1 {
  font-weight: 700;
  font-size: 24px;
}

.transaksi-title h1 {
  font-weight: 700;
  font-size: 24px;
}

.profile-pic {
  width: 100px;
  /* height: 100px; */
  border-radius: 100px;
  /* margin-left: -320px; */
}

.list-profil {
  padding: 10px 30px;
}

table th {
  width: 40%;
}

.table-responsive table th {
  width: auto;
  text-align: center;
}

.table-responsive table td {
  text-align: center;
}

.sub-pic {
  text-align: center;
}

.sub-pic a {
  padding-top: 5px;
  color: #000000;
}
/* END OF PROFIL */

/* Desktop Version */
@media (min-width: 992px) {
  .navbar {
    position: relative;
    z-index: 1;
    background-color: transparent;
  }

  .navbar-brand {
    font-family: Lato;
    font-size: 30px;
    color: #000000;
  }

  .logo {
    max-width: 100px;
  }
  .navbar-brand,
  .nav-link {
    color: #ffffff !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }
  .nav-link {
    text-transform: uppercase;
    margin-right: 20px;
    white-space: nowrap;
  }

  .dropdown:hover > .dropdown-menu {
    display: block;
  }

  .dropdown a i {
    padding-left: 3px;
    font-size: 12px;
    transition: 300ms ease all;
  }

  .dropdown a:hover i {
    transform: rotate(-90deg);
    transition: 300ms ease all;
  }

  /* .dropdown-menu {
    background: transparent;
    border: transparent;
  }

  .dropdown-menu a {
    color: #ffffff !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  } */
  .dropdown-menu a:active {
    background-color: #44bf78;
  }

  .navbarDropdownMenuLink > .active {
    border-bottom: transparent;
    padding-left: 1000px;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid #27ae60;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .navbar-nav > .active {
    border-bottom: 3px solid #27ae60;
    width: 50% !important;
    padding-bottom: 5px;
  }

  .navbar-nav li > .active {
    border-bottom: 3px solid #27ae60;
    width: 75% !important;

    padding-bottom: 5px;
  }

  .nav-item > .active {
    border-bottom: 3px solid #27ae60;
    width: 50% !important;
    padding-bottom: 5px;
  }

  .jumbotron {
    margin-top: -80px;
  }

  .tombol-nav {
    margin-left: 10px;
    width: 100%;
  }

  .info-panel img {
    width: 380px;
    margin: 0;
    padding: 0;
  }

  .info-panel p {
    text-align: center;
    padding: 0 40px;
    opacity: 60%;
  }

  .social-btn .btn {
    font-size: 14px;
    display: unset;
    padding: 10px;
  }
}
